@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.board {
  font-family: "Quicksand";
  background-image: url("../../assets/images/comm-board3.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 85rem;
  margin-top: 10rem;
  &__title {
    padding: 2rem;
    font-size: 3rem;
    color: #5c1256;
    position: relative;
    bottom: 7rem;
  }
  &__posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3.5rem;
  }
}
