$teal: #074a77;

$light-purple: #d2b3cf;
$lilac: #b98ab4;
$medium-purple: #902a89;
$plum: #761e6f;
$dark-purple: #5c1256;

$periwinkle: #8b85c1;
$lavender: #a388c1;
$dusty-rose: #bf8a91;
$rose-beige: #ca9d8f;

$pink: #f9a9b1;
$peach: #f9b094;
$sand: #f8d193;
$honeydew: #cce197;
$sea-green: #9fdba5;

$tablet-width: 768px;
$desktop-width: 1280px;

$prefers-color-scheme: dark;
