@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.single {
  font-family: "Quicksand";
  &__span {
    font-weight: 700;
  }
  &__title {
    font-size: 3rem;
    color: $dark-purple;
    margin-left: 2rem;
  }
  &__set-1 {
    display: flex;
    flex-direction: column;
  }
  &__text {
    font-size: 2rem;
    margin: 2rem;
  }
  &__image {
    width: 36rem;
    margin: 2rem;
    border-radius: 10px;
  }
  &__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__set-2 {
    display: flex;
    flex-direction: row;
    background-color: $light-purple;
  }
  &__set-3 {
    display: flex;
    flex-direction: column;
    background-color: $lilac;
  }
  &__set-4 {
    display: flex;
    flex-direction: column;
    background-color: $medium-purple;
  }
}
