@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  font-family: "Quicksand";
  background-image: linear-gradient($light-purple, $plum);
  outline: 0;
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    position: relative;
    top: 2.5rem;
  }
  &__item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 18rem;
    margin: 0rem 0.5rem 0rem 2rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 400;
    background-color: $plum;
    box-shadow: 5px 5px 5px $dark-purple;
    z-index: 1;
  }
  &__icon-left {
    width: 1.5rem;
    height: 3rem;
    margin: 0.5rem 2rem 0.5rem 0.5rem;
  }
  &__icon-right {
    width: 1.5rem;
    height: 3rem;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
  }
}
