@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.post {
  font-family: "Quicksand";
  &__item {
    width: 20rem;
    padding: 1rem;
    margin: 2rem;
    background-color: $light-purple;
    border-radius: 10px;
  }
  &__username {
    font-size: 2rem;
    color: $dark-purple;
  }
  &__body {
    font-size: 1.5rem;
  }
}
