@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.navbar {
  font-family: "Quicksand";
  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  &__item {
    text-decoration: none;
    color: black;
    width: 15.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    background-color: $lilac;
    box-shadow: 5px 5px 5px $dark-purple;
  }
}