@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.about {
  font-family: "Quicksand";
  &__title {
    padding: 2rem 2rem 0rem 2rem;
    font-size: 3rem;
    color: $dark-purple;
  }
  &__text-image {
    display: flex;
    flex-direction: row;
  }
  &__text {
    font-size: 1.25rem;
    margin: 2rem;
  }
  &__image-1 {
    width: 50%;
    margin: 2rem;
    border-radius: 20px;
  }
}
