@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.patterns {
  font-family: "Quicksand";
  &__title {
    margin: 5rem 2rem 2rem 2rem;
    color: $dark-purple;
    font-size: 3rem;
  }
  &__upload {
    text-decoration: none;
    color: black;
    width: 15.5rem;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    background-color: $lilac;
    box-shadow: 5px 5px 5px $dark-purple;
  }
}
