@use "../../styles/partials/global" as *;
@use "../../styles/partials/variables" as *;

.chaining {
  font-family: "Quicksand";
  &__span {
    font-weight: 700;
  }
  &__title {
    padding: 2rem 2rem 0rem 2rem;
    font-size: 3rem;
    color: $dark-purple;
  }
  &__chaining-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__text {
    font-size: 2rem;
    margin: 2rem;
  }
  &__image {
    width: 50%;
    margin: 2rem;
    border-radius: 10px;
  }
  &__image-multi {
    width: 75%;
    margin: 2rem;
    border-radius: 10px;
  }
  &__multiple-images {
    display: flex;
    flex-direction: column;
  }
  &__chaining-2 {
    display: flex;
    flex-direction: row;
    background-color: $light-purple;
  }
  &__chaining-3 {
    display: flex;
    flex-direction: row;
    background-color: $lilac;
  }
  &__chaining-4 {
    display: flex;
    flex-direction: row;
    background-color: $medium-purple;
  }
}
